<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<img th:src="@{'data:image/png;base64,'+${leagueImage}}" height="70" width="70">

<br/>

<p th:text="${league.getLeagueCountry()}"></p>
<p th:text="${league.getLeagueName()}"></p>
<p th:text="${league.getSeason}"></p>

<br/>

<a th:href="@{/league/{league_name}/calendar(league_name=${league.getLeagueName()})}">Календарь</a>
<a th:href="@{/league/{league_name}/results(league_name=${league.getLeagueName()})}">Результаты</a>


<br/>


<table>
    <tr>
        <th>#</th>
        <th>КОМАНДА</th>
        <th>И</th>
        <th>В</th>
        <th>Н</th>
        <th>П</th>
        <th>Г</th>
        <th>О</th>
    </tr>

    <tr th:each="team : ${teams}">
        <td th:text="${team.getPositionOnTable()}"></td>
        <td><a th:href="@{/team/{team_name}(team_name=${team.getTeamName()})}"
               th:text="${team.getTeamName()}"></a></td>
        <td th:text="${team.getNumberOfGames()}"></td>
        <td th:text="${team.getNumberOfWins()}"></td>
        <td th:text="${team.getNumberOfDraws()}"></td>
        <td th:text="${team.getNumberOfDefeats()}"></td>
        <td th:text="${team.getGoalsScored() + ':' + team.getGoalsConceded()}"></td>
        <td th:text="${team.getNumberOfPoints()}"></td>
    </tr>

</table>


</body>
</html>